@page
@model E_Migrant.App.Frontend.Pages.ListModel
@{
}
<head>
    <meta charset="utf-8">
    <title>Registro de Migrantes</title>
    <meta name="author" content="Pascal">
    <meta name="description" content="Registro de Migrantes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="site.css" rel="stylesheet" type="text/css" />
   
</head>

<body>
    
    <div style="width:1000px;margin-left: auto;margin-right: auto;">
        
    <main>
    <div class="row">
	<form method="post">

        <nav id="nav2">
            <div class="col-md-4">
            <section  id="mainNota2">
            <h2>ACTUALIZAR CONTRASEÑA</h2>
            
	            </section>
        </div>
        </nav>

        <nav id="nav3">
        <div class="col-md-4">
            
            <section  id="mainLogin2">
                    <div class="form-group">
                        <label class="control-label" >Nueva Contraseña:</label>
                        <input asp-for="password" type="password" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" >Confirmar Contraseña:</label>
                        <input asp-for="RepeatPassword" type="password" class="form-control"/>
                        <span class="text-danger">@Model.MensajePassword</span>					
                    </div>                    

                    <div class = "form-group"> 
                        <input type="submit" value="Aceptar"/>
                    </div>
                    </section>

        </div>
        </nav>
    </form>

         
        
            </div>
        </main>
        
    </div>

    <footer>
        <small>JustScript</small>
    </footer>

</body>
